.logo {
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  gap: 12px;
  background: var(--color-gradient-primary);
  background-clip: text;
  font-weight: 800;
  user-select: none;
  cursor: pointer;
  font-size: 32px;

  &__text {
    line-height: 1 !important;
  }
}
