@import 'colors';

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background-color: var(--color-background-primary);
  color: var(--color-foreground-primary);
  font-family: 'Inter Variable', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
