.header {
  position: sticky;
  z-index: 2;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 12px 32px;
  background-color: var(--color-background-secondary);
  border-bottom: 1px solid var(--color-border-primary);
}
