.title {
  font-weight: 800;
  display: inline-block;
  line-height: 1.5;
  user-select: none;

  &_md {
    font-size: 24px;
  }

  &_sm {
    font-size: 20px;
  }

  &_lg {
    font-size: 48px;
  }

  &_dimmed {
    color: var(--color-foreground-tertiary);
    text-decoration: line-through;
  }
}
