.homepage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 92px;
    font-weight: 800;
    margin-top: auto;
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    color: var(--color-foreground-gray);
    font-weight: 500;
  }

  &__link {
    color: var(--color-accent-primary);
    filter: saturate(0.8);
    cursor: pointer;

    &:hover {
      filter: saturate(1);
    }
  }

  &__description {
    margin-top: auto;
    margin-bottom: 24px;
    font-weight: 500;
    color: var(--color-foreground-gray);
    max-width: 700px;
    line-height: 1.4;
    text-align: center;
  }

  &__sections {
    margin-top: 32px;
  }

  &__text {
    display: inline-block;

    &_gradient {
      background: var(--color-gradient-primary);
      color: transparent;
      background-clip: text;
    }

    &_invisible {
      color: var(--color-foreground-invisible);
    }
  }
}
